html, body {
  font-family: 'Ubuntu Mono', monospace;
  color: white;
  padding: 0;
  margin: 0;
  height: 100%;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
}

.middle {
  display: table-cell;
  vertical-align: middle;
  background-color: #888;
  padding: 10px;
  background: linear-gradient(-45deg, #000, #fff);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: 800px;
  min-width: 500px;
  background-color: #444;
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(45deg, #fff, #000);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  -webkit-box-shadow: 0px 0px 59px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 59px 8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 59px 8px rgba(0, 0, 0, 0.75);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

p {
  margin: 12px;
  background: #000;
  display: block;
  line-height: 24px;
}

.alan {
  text-align: left;
  left: 0;
}

.christopher {
  text-align: right;
  right: 0;
}

.message-black {
  position: relative;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #000;
  width: 400px;
  text-align: left;
  border: 1px solid #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.75);
}

.message-white {
  position: relative;
  margin-bottom: 10px;
  margin-top: 12px;
  margin-left: calc(100% - 440px);
  padding: 10px;
  background-color: #fff;
  color: #000;
  width: 400px;
  text-align: left;
  border: 1px solid #000;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.75);
}

.message-content {
  padding: 0;
  margin: 0;
}

.message-black:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid #000;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: 0;
  left: -15px;
}

.message-black:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 17px solid #fff;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  top: -1px;
  left: -17px;
}

.message-white:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 15px solid #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  bottom: 0;
  right: -15px;
}

.message-white:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 17px solid #000;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  bottom: -1px;
  right: -17px;
}
